<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>Home | OCR App</title>
</head>

<body>
    <header>
        <nav>
            <a class="nav-brand" href="/">OCR App</a>
            <a href="/" class="nav-link">Home</a>
        </nav>
    </header>
    {{{body}}}
</body>

</html>