<main>
    <div class="result-container">
        <h1>This is the text obtained from the image</h1>
        <p>{{text}}</p>
        <h3>ATTENTION! Keep in mind OCR is not perfect! So make sure you double check the text and correct any mistakes!</h3>
    </div>
</main>