* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  height: 10vh;
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.nav-brand {
  flex: 3;
  font-size: 2rem;
  font-weight: bold;
}

.hero {
  text-align: center;
}

.hero-img {
  width: 100%;
}

.hero h1,
.result-container h1,
.about-info h1 {
  font-size: 4rem;
  padding: 4rem 0;
}

.hero p {
  margin: 0 20rem;
}

.hero p,
.about-info p {
  font-size: 2.4rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.file-upload {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 10rem 0;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 2rem;
  background-color: #eceff1;
}

.constraints {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 3rem;
  width: 80%;
  color: #0c0c0c;
}

.file-upload h3 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.btn button {
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid black;
  color: black;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 950px) {
  .nav-list {
    justify-content: space-between;
  }

  .nav-item {
    padding: 0 1rem;
  }

  .hero p {
    padding-bottom: 5rem;
  }
}

.result-container,
.about-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.result-container h3 {
  padding: 4rem 0;
  font-size: 1.6rem;
}

.result-container p {
  font-size: 2.4rem;
  padding: 2rem 0;
}

.about-info h6 {
  font-size: 1.5rem;
  padding-bottom: 4rem;
}